#title {
    font-style: normal;
    font-family: monospace, Arial, Helvetica, sans-serif;
    
}

#color-palette {
    width: 205px;
    height: 55px;
    display: flex;
}

.color {
    border: 1px solid black;
    width: 47.5px;
    height: 47.5px;
}

#black {
    background-color: black;
}


#purple {
    background-color: purple;
}

#green {
    background-color: green;
}

#red {
    background-color: red;
}

#pixel-board {
    background-color: white;
    border: 1px solid black;
    max-width: 240px;
    max-height: 240px;
    display: inline-block;
}

.pixel {
    background-color: white;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
    padding: 1px;
    padding-left: 5px;
    padding-top: 2px; 
}

#clear-board {
    padding: 4px;
}



/* https://github.com/tryber/sd-022-a-project-pixels-art/pull/70/commits/1d796b9625146d0a815f12eb5d328a799c7266cc */